<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>6.2-Comparing_Grading_Schemes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>7.2-Counting_Words.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>7.3-Generating_a_Cross-reference_table.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>7.4-Generating_Sentences.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>8.1.1-Medians_of_Unknown_type.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>8.1.2-Template Instantiation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>8.1.3-Generic_Functions_and_types.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>8.2-Data_Structure_Independence.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>8.2.1-Algorithms_and_Iterators.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>8.2.2-Sequential_read-only_access.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>8.2.3-Sequential_write-only_access.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>8.2.4-Sequential_read-write_access.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>8.2.5-Reversible_Access.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>8.2.6-Random_Access 8.2.6-Random_Access.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>8.2.7-Iterator_Ranges&amp;off_the_end_values.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>8.3-Input_and_Output_iterators.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>8.4-Using iterators_for_flexibility.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>9.3-Protection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>9.4-The_Student_info_class.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>9.5-Constructors.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>9.6-Using_the_Student_info_class.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>AcceleratedC++_1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Average_Calculator_Program.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Chapter4-Organizing_Programs&amp;Data.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Chapter5-Sequential_Containers_Analyzing_strings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Chapter6-Using_Library_Algorithms.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Chapter7-Using_Associative_Containers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Chapter8-Writing_Generic_Functions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Chapter9-Defining_New_Types.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>Compilation_of_C++_Program.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Finding_URLs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>First_n_Fibonacci.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Linked_List.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MEDIAN-Storing_Data_in_vector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Median_Store_DataCollection_in_vector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Opens_and_Writes_to_File.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Palindromes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Parse_through_file_and_Remove_characters.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Pointer_Notation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Rewriting_Program_to_use_list_type.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Split-Rewrite_using_iterators.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Student_Average_Program.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Taking _Strings_Apart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE6CB66A19202BC200986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB67A1920306B00986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB6871920307400986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB6941920307D00986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB6A11920308600986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB6AE1920308C00986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB6BB1920309200986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB6C81920309A00986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB6D5192030A000986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB6E2192030A900986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB6EF192030B200986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB6FC192030BD00986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB709192030C800986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB716192030D300986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB723192030DB00986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB730192030E400986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB73D192030EB00986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB74A192030F100986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB757192030F900986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB7641920310400986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB7711920310D00986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB77E1920311900986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB78B1920312600986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB7981920312C00986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB7A51920313300986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB7B21920313800986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB7BF1920313E00986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB7CC1920314500986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB7D91920314B00986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB7E61920315100986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB7F31920315700986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB8001920315E00986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB80D1920316700986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB81A1920316E00986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB8271920317400986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB8341920317B00986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB8411920318400986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB84E1920318A00986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB85B1920319000986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB8681920319700986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB875192031A200986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB882192031A800986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE6CB88F192031B000986D0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
